doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Ramey Painting
        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.py-5

                .container.px-5

                    // Contact form
                    .bg-light.rounded-3.py-5.px-4.px-md-5.mb-5
                        .text-center.mb-5
                            .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                i.bi.bi-chat-dots
                            h1.fw-bolder Get in touch
                            p.lead.fw-normal.text-muted.mb-0 We'd love to hear from you
                        .row.gx-5.justify-content-center
                            .col-lg-8.col-xl-6

                                // * * * * * * * * * * * * * * *
                                // * * SB Forms Contact Form * *
                                // * * * * * * * * * * * * * * *

                                // This form is pre-integrated with SB Forms.
                                // To make this form functional, sign up at
                                // https://startbootstrap.com/solution/contact-forms
                                // to get an API token!

                    // Contact cards
                    .row.gx-5.row-cols-2.row-cols-lg-4.py-5
                        .col
                            .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                i.bi.bi-envelope
                            .h5.mb-2 Email us!
                            p.text-muted.mb-0 Include as much info as possible.
                        .col
                            .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                i.bi.bi-people
                            .h5 Ask the community
                            p.text-muted.mb-0 Explore our community forums and communicate with other users.
                        .col
                            .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                i.bi.bi-question-circle
                            .h5 Support center
                            p.text-muted.mb-0 Browse FAQ's and support articles to find solutions.
                        .col
                            .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                i.bi.bi-telephone
                            .h5 Call us
                            p.text-muted.mb-0 Call us during normal business hours at (970) 903-8404.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')